.container {
    max-width: 1400px;
    margin: auto;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;    
    background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA; 
    margin: 20px 100px;
    padding: 50px 40px;    
    border-radius: 5px;  
}

.photograph-header-image img{
    height: 200px;
    width: 200px;
}

.photograph-header-data {
    text-align: left;   
}  

.photograph-header-data h1 {
   font-size: 64px;
   color: #D3573C;
   margin: 0;
}

.photograph-header-data-location {
    color: #901C1C;
    font-size: 24px;
}

.photograph-header-data-tagline {
    color: #525252;
    font-size: 18px;
}

.media-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px; 
    max-height: 70px;    
}

.media-nb-likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.like p {
    font-size: 24px;
}

.icone {  
    padding: 5px;
    height: 18px;
    width: 18px;   
}
.total-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    right: 50px;
    bottom: 0;
    background: #DB8876;
    width: 370px;
    height: 70px;
    border-radius: 5px;  
}

.total-data-likes {
    display: flex;
    align-items: center;
}

.total-data-totallikes {
      font-size: 24px;
}

.total-data-totallikes p {
    margin: 0;
}

.total-data-icone {
    height: 18px;
    width: 18px;
    align-items: center;
}

.total-data-price {
    font-size: 24px;
}

.photograph-body {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;     
    margin: 100px;
}

.photograph-body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.photograph-body article {  
    margin-bottom: 15px;
}

.photograph-body article .photograph-body-media img, 
.photograph-body-media video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    cursor: pointer;
}

.photograph-body article .media-info {
    margin: 0;
}

.photograph-body article .media-info .like {
    color: #901C1C;
}

.photograph-body article .media-title {
    color: #901C1C;
    font-size: 24px;
}

.photograph-body article .media-title p {
    margin: 0;
}

.photograph-modal {
    display: none;
    position: fixed;
    z-index: 1;  
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh) !important;  
    background-color: white;
}
  
.modal-content {
    background-color: #fefefe;    
    display: flex;                         
    align-items: center;                    
    justify-content: center;   
    height: 90vh;                         
    margin: 0 50px;                                              
}
  
.modal .show {
    display: initial;
}
 
.slide {  
   display: flex;
   justify-content: center;
   width: auto;
   height: 800px;  
   margin-top: 80px;
}

.image-slide {                    
   margin: auto;  
   height: 100%;  
   max-width: 1400px;   
} 

.lightbox-title {    
    margin-left: auto;
    margin-right: auto;  
    position: relative;
    height: 30px;  
    color: #901C1C;
    font-size: 24px;
    padding-bottom: 30px;     
    display: block;    
}

.lightbox-title p {
    margin-top: 5px;
}

.modal-preview {
    width: 100%;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.close img{  
    position: fixed;
    top: 80px;
    right: 120px;             
    z-index: 3;                   
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    opacity: .7;
    position: fixed;  
    top: 50%;
    margin-top: -14px;
    z-index: 2;   
}

.next {
    right: 120px;
}

.prev {
    left: 120px;
} 

.next:hover,
.prev:hover {
    opacity: 1;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.media-selection {
    display: none;
    margin-left: 100px;
}

.media-selection label {
    font-size: 18px;    
    font-weight: bold;
    margin-right: 15px;
}

select {
    color: #FFFFFF;
    background-color: #901C1C;
    font-size: 18px;
    height: 50px;
    width: 170px; 
    border-radius: 5px;      
} 

.modal { 
    position: relative;   
    background-color: rgba(26, 39, 156, 0.4);   
    border-radius: 5px;
    background-color: #DB8876;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 35px;
    margin: 2% auto;  
    min-width: 580px;    
}

.modal header {
    width: 100%;
    height: 130px;   
    align-items:baseline; 
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    color: initial;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 5px;   
}

form .text-control {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

form .text-msg {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

.photographerName {
    font-size: 64px;
}
