.container {
    max-width: 1400px;
    margin: auto;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;    
    background-color: rgba(26, 39, 156, 0.4);
}

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA; 
    margin: 20px 100px 10px;
    padding: 50px 40px;    
    border-radius: 5px;  
}

.photograph-header-image img{
    height: 200px;
    width: 200px;
}

.photograph-header-data {
    text-align: left;   
}  

.photograph-header-data h1 {
   font-size: 64px;
   color: #D3573C;
   margin: 0;
}

.photograph-header-data-location {
    color: #901C1C;
    font-size: 24px;
}

.photograph-header-data-tagline {
    color: #525252;
    font-size: 18px;
}

.media-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 350px; 
    max-height: 70px;    
}

.media-nb-likes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.like p {
    font-size: 24px;
}

.icone {  
    padding: 5px;
    height: 18px;
    width: 18px;   
}
.total-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    right: 50px;
    bottom: 0;
    background: #DB8876;
    width: 370px;
    height: 78px;
    border-radius: 5px;  
}

.total-data-likes {
    display: flex;
    align-items: center;
}

.total-data-totallikes {
      font-size: 24px;
}

.total-data-totallikes p {
    margin: 0;
}

.total-data-icone {
    height: 18px;
    width: 18px;
    align-items: center;
}

.total-data-price {
    font-size: 24px;
}

.photograph-body {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;     
    margin: 10px 100px 50px;
}

.photograph-body header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.photograph-body article {  
    margin-bottom: 15px;
}

.photograph-body-media {
    height: 300px;
    width: 350px;
}

.photograph-body article .photograph-body-media img, 
.photograph-body-media video {
    height: 300px;
    width: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
}

.photograph-body article .media-info {
    margin: 0;
}

.photograph-body article .media-info .like {
    color: #901C1C;
}

.photograph-body article .media-title {
    color: #901C1C;
    font-size: 24px;
}

.photograph-body article .media-title p {
    margin: 0;
}

.photograph-modal {
    display: none;
    position: fixed;
    z-index: 10;  
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh) !important;  
    background-color: white;
}
  
.modal-content {
    background-color: #fefefe;    
    display: flex;                         
    align-items: center;                    
    justify-content: center;   
    height: 94vh;                         
    margin: 0 50px;                                              
}
  
.modal .show {
    display: initial;
}
 
.slide {  
   display: flex;
   justify-content: center;
   width: auto;  
   height: 800px; 
   margin-top: 30px;
}

.image-slide {       
   object-fit: cover;             
   margin: auto;  
   height: 800px;
   width: 850px; 
   max-width: 1400px;   
   box-shadow: 3px 5px 2px 1px rgba(196, 196, 196, 0.5);
} 

.lightbox-title {    
    margin-left: auto;
    margin-right: auto;  
    position: relative;
    height: 30px;  
    color: #901C1C;
    font-size: 24px;
    padding-bottom: 30px;     
    display: block;    
}

.lightbox-title p {
    margin-top: 5px;
}

.modal-preview {
    width: 100%;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.close {  
    position: relative;
    right: -920px;  
    top: -340px;       
    z-index: 3;                   
}
  
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer; 
    position: relative;  
    margin-top: -14px;
    z-index: 2;   
}

.prev {
    left: -910px;
} 

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

#contact_bt:hover,      
#contact_bt:focus {
    background-color: #DB8876;
    color: #000000;
}

#media-selectionId {
    font-size: 18px;    
    font-weight: bold;
    margin-right: 15px;
    margin-top: 10px;
}

.media-selection1 {
    display: none;
    justify-content: flex-start;  
    width: 300px;
    height: 100px;
    margin-left: 100px;
}

.media-selection1 label {
    margin-top: 10px;
    font-size: 18px;    
    font-weight: bold; 
}

#dropdown-close,
#dropdown-open {
    cursor: pointer;
}

#dropdown-close {
    display: none;
    position: relative;
    top: 20px;
    left: 155px;
    height: 20px;
    width: 16px;
    z-index: 3;
}

#dropdown-open { 
    position: relative;
    top: 20px;
    left: -30px;
    height: 20px;  
    width: 16px
}

.media-select {    
    cursor: pointer;
    background-color: #901C1C;
    height: 65px;
    width: 170px;
    border-radius: 5px;
    margin-left: 16px; 
    color: #FFFFFF;
    font-size: 18px;
    text-align: left; 
    padding-left: 20px;
    border: 0;
}

.media-select:focus {
    border: black 3px solid;
}
    
.media-dropdown {
    display: none;
    height: 175px;
    width: 170px;
    z-index: 2;
}

.media-menu {
    display: none;
    height: 175px;   
    background-color: #901C1C;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0;   
    width: 170px; 
    list-style: none;
    cursor: pointer;
    margin: 0;   
    box-shadow: 0 5px 2px 1px rgba(196, 196, 196, 0.5);  
}

[role="option"] {
    height: 40px;
    padding-top: 18px;   
    padding-left: 20px;     
}
 
.line1 { 
    position: relative;
    top: 60px;
    left: 10px;
    height: 1px;
    width: 140px;
    background-color: rgba(255, 255, 255, 0.65);
    height: 1px;  
    width: 150px;  
    background-color: rgba(255, 255, 255, 0.65); 
    padding: 0;

}

.line2 {
    position: relative;
    top: 116px;
    left: 10px;
    height: 1px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.65);
}


.modal { 
    position: relative;   
    background-color: rgba(26, 39, 156, 0.4);   
    border-radius: 5px;
    background-color: #DB8876;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px 35px;
    margin: 2% auto;  
    min-width: 580px;     
    box-shadow: 0 8px 9px 6px rgba(196, 196, 196, 0.5); 
}

.modal header {
    width: 100%;
    height: 130px;   
    align-items:baseline; 
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0;
    color: initial;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 5px;   
}

form .text-control {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

form .text-msg {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 5px;
    font-size: 28px;
}

.photographerName {
    font-size: 64px;
}

@media (max-width: 1265px) {   
    .photograph-header {
        margin: 20px 10px 0;
    }
    .photograph-body {
        margin: 10px 10px 50px;    
    }
    .media-selection1 {
        margin-left: 10px;
    }
    .media-select {
        margin-left: 0;
    }
}

@media (max-width: 1090px) {
    .photograph-header {
       padding: 50px 10px;
    }
    .photograph-body {
        margin: 10px 0 20px 0;
        justify-content: space-around;
    }
}

@media (max-width: 990px) {
    .photograph-header-image {
        display: none;
    }
    .contact_button {
        margin-right: 180px;
    }
}

@media (max-width: 800px) {
    .modal header {
        display: flex;             
    }
}

@media (max-width: 730px) {
    .photograph-header {
        display: block;
        text-align: center;
    }  
} 